# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Outputs & saved artifacts
outputs/

# Scraped / generated data (large, use git lfs if committing)
data/
data/raw/
data/clean/
data/filtered/
data/silver/
data/to_annotate/

*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
